:root{
    --prim: #bc4123;
    --txt: whitesmoke;
    --sec: #2b3452;
}
html{
    background-color: var(--sec);
}

body{
    color: var(--txt);
}

/*                          Styling for the nav bar */
.root-nav nav{
    display: flex;
    gap: 6px;
    justify-content: flex-end;
    margin: 0 auto;
}

.root-nav h1{
    margin-right: auto;
    border-bottom: solid var(--prim);
}

.root-nav a{
    text-decoration: none;
    padding: 6px;
    border-radius: 4px;
    margin-top: auto;
    margin-bottom: auto;
    color: var(--txt);
}
/*                          Styling or card sub nav*/
.card-nav-header{
    text-align: center;
    margin-bottom: 10px;
}

.card-nav-header a{
    color: var(--txt);
    margin-right: 20px;
}

/*                          Styling for cardsLayout components*/
.cards-header h1{
    text-align: center;
    margin-top: 0;
}

/*                          Styling for the list of all favorite cards */
.card-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card-list .individual-card{
    text-align: center;
    position: relative;
    padding-bottom: 5%;
}

.card-list .individual-card h3{
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
}

.card-list .individual-card a{
    display:block;
    height: fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}

.card-list .individual-card .card-image-overlay{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
}


.card-list .individual-card .card-image-overlay button{
    position: absolute;
    top: 0;
    right: 0;
    color: red;
}

/*these 3 lines change the button text from X to Remove while hovering*/
.card-list .individual-card .card-image-overlay button:after{
    content: 'X';
}

.card-list .individual-card .card-image-overlay button:hover:after{
    content: '';
}

.card-list .individual-card .card-image-overlay button:hover:before{
    content: 'Remove';
}

/*                          Styling for the Card detail page */
.card-nav-header{
    border-bottom: solid var(--prim);
    border-bottom-width: 20px;
    border-bottom-style: groove;
}

.card-header #card-image{
    text-align: center;
}

.card-header #card-image img{
    max-width: 20%;
}

.card-header h3{
    border-bottom: solid var(--prim);
}

.card-header #card p{
    white-space: pre-line;
}

.card-header #card #deleteButton{
    text-align: center;
    margin-top: 1%;
}

.card-header #card button:after{
    content: 'Remove from List';
}

/*                          Styling for the custom 404 screen */
.four-oh-four-header{
    text-align: center;
    text-shadow: 3px 3px 4px black;
}

.four-oh-four-header a{
    color: var(--prim);
    font-size: 200%;
}

.four-oh-four-header #error-image img{
    max-width: 35%;
    margin: 2%;
    justify-content: center;
}

/*                          Styling for the card component if no card id matches */
.err-card-not-found-header{
    text-align: center;
    text-shadow: 3px 3px 4px black;
}

.err-card-not-found-header a{    
    color: var(--prim);
    font-size: 150%;
}

/*                          Styling For the Bread Crumb Trail Underneith the Nav */
.crumbs-header{
    margin: 0;
    padding: 0;
}

.crumbs-header > *{
    display: inline-block;
}

.crumbs-header a{
    color: var(--prim);
}

.crumbs-header .crumb:after{
    content: '>';
    margin-left: 7px;
}

.crumbs-header .crumb:last-child:after{
    content: none;
}

/*                          Styling for card search layout navigation*/
.card-search-options{
    text-align: center;
    margin-bottom: 10px;
}

.card-search-options a{
    color: var(--txt);
    margin-right: 20px;
    font-size: 2em;
}

/*                          Styling for card search layout navigation*/
.card-from-search p{
    white-space: pre-line;

}
